*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}

body{width: 100%;}

.banner{width: 100%;}
.banner img{width: 100%;}

.guide{width: 100%;}
.guide img{width: 100%;}

.wire{width: 100%;}
.wire img{width: 100%;}
